* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

:root {

    /* color theme */
    --teal: #16E0BD;
    --dark-green: #1C4B43;
    --white: #FFFFFF;

    --black: #000000;
    --grey: #303030;

    /*   font  size  */
    --h1: 4.5rem;
    --h2: 3.75rem;
    --h3: 2.36rem;
    --h4: 1.5rem;
    --p: 1.125rem;
    --bnt: 1rem;
    --fontAwesome: 1.5rem;
    --email: 1.5rem;

}

/* font family and size */
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--grey);
    line-height: 1.6;
    letter-spacing: 1px;
    font-weight: 400;

}

h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);

}

h4 {
    font-size: var(--h4);
}

p {
    font-size: var(--p);
    margin: 1.3em 0;
}

h1,
h2,
h3,
h4,
p,
a {
    font-family: inherit;
    color: var(--grey);
    font-weight: 400;
}

img {
    display: block;
    object-fit: cover;
    max-width: 100%;
}

.shadow {
    box-shadow: 10px 10px 25px rgba(0, 0, 0, .3);
}

/*================= header area ==================*/

.logo {
    color: var(--grey);
    font-size: 2rem;
    word-spacing: 10px;
}

.dev {
    text-transform: uppercase;
    color: var(--teal);
    font-size: .80rem;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 0;
    letter-spacing: 6px;
    word-spacing: 15px;
    font-weight: 700;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em 1.5em;
}

.logo-link {
    text-decoration: none;

}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin-right: 6em;
    font-size: 1.2rem;
    color: var(--grey);
    font-family: 'Source Sans Pro', sans-serif;
}

.nav-list {
    padding: 1.5em;
}

.nav a {
    text-decoration: none;
    color: var(--grey);
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 2px;

}

.burger {
    display: none;
}

.nav-close {
    display: none;
}

.nav-open {
    display: none;
}



.current {
    border-bottom: solid 2.5px var(--teal);
    padding-bottom: .2em;
}

@media (max-width:945px) {

    .burger {
        display: block;
        color: var(--grey);
        margin-right: 1.5em;
        font-size: 2.3rem;
    }

    .nav-open {
        background: transparent;
        border: none;
        margin-left: auto;
        cursor: pointer;
        display: block;
    }

    .nav-close {
        display: block;
        background: transparent;
        color: var(--white);
        border: none;
        font-size: 3.5rem;
        right: 30px;
        top: 7px;
        position: absolute;
        cursor: pointer;
    }

    .nav-ul {
        display: flex;
        flex-direction: column;
        color: var(--white);
        padding: 0;
        margin: 0;

    }

    .nav-ul li a {
        color: var(--white);
    }

    .nav-ul li {
        padding: 1.25em;
        font-size: 1.5rem;
    }

    .nav {
        display: flex;
        flex-direction: column;
        color: var(--white);
    }

    .mobile-nav {
        background: var(--black);
        z-index: 10;
        top: 0;
        bottom: 0;
        right: 0;
        left: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        position: fixed;
        color: var(--white);
        transition: all 450ms ease-in-out;

    }

    .open {
        left: 0;
    }

    .mobile-na .nav-close {
        color: var(--white);
    }
}

@media (max-width:500px) {
    .burger {
        margin-right: .3em;
        font-size: 2rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    .dev {
        font-size: .60rem;
    }

    header {
        text-align: center;
    }

    .nav-bar {
        padding: 1em
    }
}

/*================== hero section ====================*/
section {
    margin-left: auto;
    margin-right: auto;
    padding: 4em;
    padding-top: 6em;
    padding-bottom: 6em;
}

.hero-section {
    margin-top: 4em;
    margin-bottom: 6em;
}

.hero {
    padding: 1em;
    max-width: 945px;
    margin-left: auto;
    margin-right: auto;
    position: relative;


}

.hi {
    text-align: right;
    margin-right: 4.5em;
    line-height: 1.3;

}

.color-background {
    background-color: var(--teal);
}

.color-background h3 {
    text-align: right;
    padding-right: 1.5em;
    text-transform: uppercase;
    font-weight: 400;
}

.name {
    font-weight: 700;
    display: block;
    padding-right: .3em;
    margin: 0;
    line-height: 1.3;
    text-align: right;
    word-spacing: 30px;
}

.hero-img {
    position: absolute;
    bottom: 0;
    z-index: 1;

}

svg {
    width: 400px;
    display: block;
}

.html {
    z-index: 2;
    animation: floatingXRightHtml 10s infinite linear alternate-reverse;
    position: absolute;
    left: -250px;
}

.css {
    z-index: 3;
    animation: floatingXLeftCss 18s infinite ease-in-out alternate-reverse;
    position: absolute;
}

.javascript {
    z-index: 4;
    animation: floatingXRightJavascript 5s infinite ease-in-out alternate-reverse;
    position: absolute;
}

@keyframes floatingXRightHtml {

    0% {
        transform: translate(50px, 0px);
    }


    100% {
        transform: translate(-45px, 0px);

    }
}

@keyframes floatingXRightJavascript {

    0% {
        transform: translate(-45px, 0px);
    }

    65% {
        transform: translate(0, 0);

    }

    100% {
        transform: translate(30px, 0px);

    }
}

@keyframes floatingXLeftCss {

    0% {
        transform: translate(0, 0px);
    }

    65% {
        transform: translate(60px, 0);

    }

    100% {
        transform: translate(-45px, 0px);

    }
}

@media (max-width:1050px) {
    .hero-section {
        margin-top: 1em;
        margin-bottom: 1.5em;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 1.6;
    }

    .hi {
        order: -1;
        display: block;
        min-width: 397px;
        text-align: center;
        margin: 0;
        font-size: var(--h2);
        line-height: 1.6;
        min-width: 0px;

    }

    .name {
        padding: 0;
        text-align: center;
        word-spacing: 10px;
        font-size: var(--h2);
        line-height: 1.6;
    }

    .color-background {
        margin: 0 auto;
        min-width: 0;
        margin-top: 1em;
    }

    .color-background h3 {
        text-align: center;
        padding: .3em;
        font-size: 1.67rem;
        word-spacing: 15px;
    }

    .hero-img {
        order: 4;
        position: relative;
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }


}

@media (max-width:500px) {
    svg {
        width: 355px;
        display: block;
    }

    .hero {
        padding: 0px;
    }

    .hero-section {
        padding: .75em;

    }

    .hero>h1 {
        line-height: 1.05;
    }
}

/*============= My Experience =================*/

.my-experience {
    background: url(../img/laptop.jpg);
    background-size: cover;
    background-position: center bottom;
    background-color: var(--grey);
    background-blend-mode: multiply;
    background-attachment: fixed;
    color: var(--white);
    padding: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-experience h1 {
    color: var(--teal);
}

.experience-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8em;
    margin-top: 2em;
}

.experience-area h4 {
    color: var(--white);
}

.experience-area li {
    color: rgba(255, 255, 255, 0.8);
    list-style: none;
    text-align: center;
    font-size: var(--p);
    padding: .25em;

}

.experience-area h4 {
    background-color: var(--dark-green);
    text-align: center;
}

.experience-area i {
    font-size: 4rem;
    text-align: center;
    display: block;
    margin-bottom: .5em;
}

li .li-fab {
    font-size: 1rem;
    display: inline;
}

.column ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: 1em;
}

.h1-experience {
    font-weight: 700;
}

.h1-experience::after {
    content: "";
    display: block;
    width: 400px;
    height: 2px;
    background: linear-gradient(to right, var(--dark-green), var(--teal), var(--dark-green));
    margin: 0 auto;
}

@media (max-width:945px) {
    .my-experience {
        padding: .50em;
        padding-top: 1.5em;
        margin-bottom: 0;
    }

    .experience-area {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3em;
        margin-bottom: 1.75em;
    }

    .h1-experience {
        text-align: center;
        font-size: var(--h2);
    }

    .h1-experience::after {
        content: "";
        display: block;
        width: 300px;
        height: 2px;
        background: linear-gradient(to right, var(--dark-green), var(--teal), var(--dark-green));
        margin: 0 auto;
        margin-bottom: .75em;
    }
}

/****************** who am I  section**************************/
.who-am-i {
    position: relative;
    padding-top: 2;
    margin-top: 0;
    margin-bottom: 1em;
}

.who-h1 {
    font-weight: 700;
}

.color-background .who-h3 {
    text-align: left;
    font-size: 1.9rem;
    padding: .25em .75em;
    text-transform: none;
    background-color: var(--dark-green);
    color: var(--white);

}

.karenAndMe {
    position: absolute;
    top: 70px;
    left: 570px;

}

.karenAndMe svg {
    width: 550px;
}

.paragraph-container {
    max-width: 550px;
}

#plant {
    animation: plantXDirection 1500ms infinite linear alternate;
    transform-origin: bottom;
}

@keyframes plantXDirection {
    0% {
        transform: rotate(-.05deg);
    }

    100% {
        transform: rotate(1deg);
    }
}

#Vector_24 {
    animation: code 1s infinite alternate-reverse linear;
}

#Vector_25 {
    animation: code2 2s infinite alternate-reverse ease-in-out;
}

#Vector_26 {
    animation: code2 3s infinite alternate-reverse ease;
}

#Vector_27 {
    animation: code 4s infinite alternate-reverse ease-out;
}

#Vector_28 {
    animation: code2 5s infinite alternate-reverse ease-in;
}

#Vector_29 {
    animation: code 6s infinite alternate-reverse ease-in-out;
}

#Vector_14 {
    animation: code2 7s infinite alternate-reverse linear;
}

#Vector_15 {
    animation: code 4s infinite alternate-reverse ease-in-out;
}

#Vector_16 {
    animation: code 9s infinite alternate-reverse 5s linear;
}

#Vector_17 {
    animation: code 2s infinite 2s alternate-reverse ease-in-out;
}

#Vector_18 {
    animation: code2 11s infinite alternate-reverse linear;
}

#Vector_19 {
    animation: code 2s infinite alternate-reverse ease-in-out;
}

#Vector_20 {
    animation: code2 13s infinite alternate-reverse linear;
}

@keyframes code {

    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }

}

@keyframes color {
    0% {
        background-color: blue;
    }

    100% {
        background-color: yellow;
    }
}

@keyframes code2 {

    0% {
        transform: translate(5px, 0px);
    }


    100% {
        transform: translate(-5px, 0px);

    }
}

@media(max-width:1050px) {
    .karenAndMe {
        position: static;
        margin-top: 2em;
    }

    .color-background .who-h3 {
        background-color: var(--teal);
        color: var(--black);

    }
}

@media(max-width:1300px) {
    .karenAndMe svg {
        width: 420px;
    }

    .paragraph-container {
        border: ;
    }

    .karenAndMe {
        left: 520px;
    }
}

@media(max-width:945px) {
    .who-am-i {
        margin-top: 0;
        padding: 2em;
    }

    .karenAndMe {
        position: static;
        margin-top: 1.75em;
    }

    .color-background .who-h3 {
        word-spacing: 0;
        line-height: 1.2;
        text-align: center;
    }

    .who-h1 {
        font-size: var(--h2);
    }
}

@media(max-width:400px) {
    .karenAndMe svg {
        width: 350px;
    }
}

/************* my work websites************************/
.myWork {

    /* background: url(../img/key-board.jpg); */
    background-position: center;
    background-size: cover;
    background-color: var(--grey);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    margin-top: 0;
    margin-bottom: 0;

}

.myWork p {
    color: var(--teal);
    text-align: center;
    font-weight: 500;
    font-size: var(--h4);
    word-spacing: .25rem;
    letter-spacing: .13rem;
    margin-bottom: 1.95em;

}

.myWork h1 {
    color: var(--white);
    text-align: center;
}

.h1-myWork {
    font-weight: 700;

}

.myWork-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.flip-card {
    background: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);

}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.flip-card-front {
    background-color: rgb(133, 133, 133);
    color: var(--black);
}

.flip-card-back {
    background-color: #fff;
    color: var(--white);
    transform: rotateY(180deg);

}

.flip-card-back h2 {
    margin: 1.5em;
    font-size: var(--h4);
    color: var(--black);
    font-weight: 700;
}

.flip-card-back p {
    font-size: 1.1rem;
    margin: 1.5em;
    color: rgba(0, 0, 0, .6);
}

@media(max-width:1100px) {
    .myWork {
        padding: 1em;
    }

    .h1-myWork {
        font-size: var(--h2);
        line-height: 1.4;
    }

    .myWork-images {
        display: grid;
        grid-template-columns: 1fr;
    }

    .flip-card {
        margin-bottom: 1.75em;
    }
}


/************************** footer section********************/
footer {
    background-color: var(--black);
    padding: 2.75em;
}

.footer p {
    color: var(--white);
    margin: 0;
    text-align: center;
    font-weight: 700;
    word-spacing: .15rem;
    letter-spacing: .10rem;

}

.footer p i {
    margin-left: .5em;
}

.footer p a {
    text-decoration: none;
    color: var(--black);
    background-color: var(--teal);
    padding: .5em 1.5em;
    display: inline-block;
    margin-top: 1.75em;
    margin-left: 1em;
}

.footer p a:hover {
    background-color: var(--white);

}

.social-media {
    margin-top: 1.75em;
    text-align: center;
}

.social-media i {
    font-size: 1.5rem;
    margin-left: 1.3em;
    color: var(--teal);
    text-align: center;
}

.social-media i:hover {
    background-color: transparent;
    color: var(--white);
}

/**************Up button *******************/

.upScroll {
    background-color: var(--teal);
    border: none;
    padding: .55em;
    font-size: 1.65rem;
    border-radius: 5px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
    z-index: 9999;
    display: none;
}

.visible {
    display: block;
    animation: fadeIn 2s;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@media (max-width:945px) {
    .upScroll {
        padding: .55em;
    }
}