* {
    box-sizing: border-box;
    margin: 0;
}

:root {

    /* color theme */
    --teal: #16E0BD;
    --dark-green: #1C4B43;
    --white: #FFFFFF;

    --black: #000000;
    --grey: #303030;

    /*   font  size  */
    --h1: 4.5rem;
    --h2: 3.75rem;
    --h3: 2.36rem;
    --h4: 1.5rem;
    --p: 1.125rem;
    --bnt: 1rem;
    --fontAwesome: 1.5rem;
    --email: 1.5rem;

}

/* font family and size */
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--grey);
    line-height: 1.6;
    letter-spacing: 1px;
    font-weight: 400;
}

h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

h4 {
    font-size: var(--h4);
}

p {
    font-size: var(--p);
}

h1,
h2,
h3,
h4,
p,
a {
    font-family: inherit;
    color: var(--grey);
    font-weight: 400;
}

img {
    display: block;
    object-fit: cover;
    max-width: 100%;
}

/*================= header area ==================*/
.nav-bar {
    padding: 1em 1.5em;
}

.logo {
    color: var(--grey);
    font-size: 2rem;
    word-spacing: 10px;
}

.dev {
    text-transform: uppercase;
    color: var(--teal);
    font-size: .80rem;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 0;
    letter-spacing: 6px;
    word-spacing: 15px;
    font-weight: 700;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    /* min-width: 397px; */
}

.logo-link {
    text-decoration: none;

}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin-right: 6em;
    font-size: 1.2rem;
    color: var(--grey);
    color: inherit;
    font-family: inherit;
}

.nav a {
    text-decoration: none;
    padding: 1.5em;
    color: inherit;
    font-family: inherit;

}

.burger {
    display: none;
}

@media (max-width:945px) {
    .burger {
        display: block;
        color: var(--grey);
        font-size: 2rem;
        margin-right: 1.5em;
        font-size: 2.3rem;
    }

    .nav-ul {
        display: none;
    }

}

/*================== hero section ====================*/
section {
    margin-left: auto;
    margin-right: auto;
    padding: 4em;
    margin-top: 6em;
    margin-bottom: 6em;
}

.hero {
    display: grid;
    padding: 1em;
    max-width: 945px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    min-width: 850px;

}

.hi {
    text-align: right;
    margin-right: 4.5em;
    line-height: 1.3;

}

.color-background {
    background-color: var(--teal);
    min-width: 850px;
}

.color-background h3 {
    text-align: right;
    padding-right: .5em;
    text-transform: uppercase;
    font-weight: 400;
}

.name {
    font-weight: 700;
    display: block;
    padding-right: .3em;
    margin: 0;
    line-height: 1.3;
    text-align: right;
    word-spacing: 30px;
}

.hero-img {
    position: absolute;
    bottom: 0;
    left: -25px;
    width: 300px;
    margin-left: 4.5em;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, .3);
}

@media (max-width:945px) {
    .hero-section {
        margin-top: 1em;
    }

    .hero {
        display: flex;
        flex-direction: column;
        min-width: 0;
        justify-content: center;
        align-items: center;
        line-height: 1.6;
    }

    .hi {
        order: -1;
        display: block;
        min-width: 397px;
        text-align: center;
        margin: 0;
        font-size: 3rem;
        line-height: 1.6;

    }

    .name {
        padding: 0;
        text-align: center;
        word-spacing: 10px;
        font-size: 3rem;
        line-height: 1.6;
    }

    .color-background {
        margin: 0 auto;
        min-width: 0;
        margin-top: 1em;
    }

    .color-background h3 {
        text-align: center;
        padding: .3em;
        font-size: 1.67rem;
        word-spacing: 15px;
    }

    .hero-img {
        order: 4;
        position: relative;
        margin-left: 0;
        left: 0;
        display: block;
        object-fit: cover;
        max-width: 100%;
        margin-top: 1.75em;


    }
}